<div class="container mt-5">
    <h3>Product Search</h3>
    <form action="/products" method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" name="search" class="form-control" placeholder="Buscar por nombre o descripción" value="{{search}}">
            </div>
            <div class="col-md-4 mb-3">
                <input type="number" name="minPrice" class="form-control" placeholder="Precio mínimo" value="{{minPrice}}">
            </div>
            <div class="col-md-4 mb-3">
                <input type="number" name="maxPrice" class="form-control" placeholder="Precio máximo" value="{{maxPrice}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <!-- Lista de productos -->
    <div class="mt-5">
        <h3>Product List</h3>
        <div id="product-list">
            {{#each products}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">Price: ${{this.price}}</p>
                        <p class="card-text">Date: {{this.date}}</p>
                        <form action="/profile/cart/add/{{this._id}}" method="POST">
                        <button type="submit" class="btn btn-success">Agregar al carrito</button>
                    </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <!-- Paginación -->
    {{!--
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#if (currentPage 1)}}
                <li class="page-item">
                    <a class="page-link" href="/products?page={{subtract currentPage 1}}&search={{search}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}">Anterior</a>
                </li>
            {{/if}}
            {{#each (range 1 totalPages)}}
                <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                    <a class="page-link" href="/products?page={{this}}&search={{../search}}&minPrice={{../minPrice}}&maxPrice={{../maxPrice}}">{{this}}</a>
                </li>
            {{/each}}
            {{#if (lt currentPage totalPages)}}
                <li class="page-item">
                    <a class="page-link" href="/products?page={{add currentPage 1}}&search={{search}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}">Siguiente</a>
                </li>
            {{/if}}
        </ul>
    </nav>
    --}}
</div>
